ECC Algorithm 

This ECC Algorithm that I need to be understand for the project:
- [ ] ECC-Brainpool (RFC 5639),
- [ ] ED448-GOLDILOCKS (RFC 8032),
- [ ] Curve25519 (RFC 7748),
- [ ] E-521



Book Guide To Elliptic Curve: 
- https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.394.3037&rep=rep1&type=pdf